*{
	border:none;
	margin:0;
	padding:0
}






#wrap{
	z-index:1;
	top:0px;
	margin:0px auto;
	width:100%;
	height:140px;
	border-bottom: 1px solid #d9d9d9;
	text-align: center;
	background: #ffffff;
}

.menu_top{
	width:100%;
	height:20px;
	border-bottom: 1px solid #d9d9d9;
	background: linear-gradient( to right, #FF7100, #FF9900 );
}
.menu_top a{
	float: right;
	margin-right:160px;
	color:#ffffff;

}
.menu{
	width:100%;
	height:70px;
	border-bottom: 1px solid #d9d9d9;
	background:#FFFFFF url(../images/menubg.gif) repeat-x;
}
.menu .logo_main{
	float: left;
	margin-left: 170px;
	
}
#ddmenu{

	background:#FFFFFF url(../images/menubg.gif) repeat-x;
	margin:0;
	padding:0;
	height:57px;
	width:auto;
	text-align: center;
	display:inline-block;
	margin-right: 230px; 
	

}



#ddmenu li{
	
	list-style:none;
	padding:16px 10px;
	font:22px Tahoma,Arial;
	width:auto;
	display: inline-block;

	
}


#ddmenu li a{
	background:url(../images/top-dotted.gif) right no-repeat;
	display:block;
	padding:6px 6px;
	text-decoration:none;
	width:100px;
	color:#353535;
	text-transform:uppercase;
	white-space:nowrap;
	text-align:center;
	font-weight: bold;
}


#ddmenu li a:hover{
	background:url(../images/top-dotted.gif) right no-repeat;
}



#ddmenu li div{

	margin:16px 0px 0px 10px ;
	padding:0;
	position:absolute;
	margin-left: -100px;
	text-align:center;
	visibility:hidden;
	width:auto;
	white-space:nowrap;
	line-height: 1.6;
	font-weight: bold;
	
	
}


#ddmenu li div a{
	display:inline;
	
	
	
}

#ddmenu li div a{
	width:auto;
	background:url(../images/bottom-dotted.gif) right no-repeat;
	display:inline;
	color:#A6A6A6;
	font-size:14px;
	padding:3px 10px;
}


#ddmenu li div a:hover{
	background:#FFFFFF url(../images/bottom-dotted.gif) right no-repeat;
	padding:3px 10px;
}


/*슬라이드기능  */
.jbFixed{

	position:fixed;
	top:0px;
}


#search-body,
#search-body #s-form-body,
#search-body #s-form-body #s-form,
#search-body #s-btn-body,
#search-body #s-btn-body #s-btn {
  padding: 0;
  margin: 0;
  outline: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  line-height: 30px; }


#search-body { 
	margin-top:7px;
	margin-left:350px;
	width:320px; 
	
	}
#search-body #s-form-body {
  overflow: hidden;
  border: 2px solid #FF7100;
  
   }

#search-body #s-form-body #s-form {
  line-height: 16px;
  width: 100%;
  padding: 0 4px;
  font-size: 16px;
  font-family: Roboto, arial, sans-serif;
  border: 1px solid #ccc;
  border-right: none;
  box-shadow: inset 0 1px 0 #eee;
  border-radius: 2px 0 0 2px;
  background-color: #fff;
  float: left; }

#search-body #s-form-body #s-form:focus { border-color: #47b98f; }

#search-body #s-btn-body {
  cursor: pointer;
  border-radius: 0 2px 2px 0;
  border: solid 1px #FF7100;
  background: #FF7100;
  float: right; }

#search-body #s-btn-body:hover,
#search-body #s-btn-body:active {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

#search-body #s-btn-body:hover {
  border-color: #37a97f;
  background-color: #37a97f; }

#search-body #s-btn-body:active {
  outline: none;
  border-color: #1b8d6d;
  background-color: #1b8d6d; }

#search-body #s-btn-body #s-btn {
   border: none;
   display: block;
   opacity: .9;
   background: url("../image/search_w.png") center center no-repeat;
   width: 50px;
   height: 28px; }

/* For Smartphone */
@media only screen and (max-width: 480px) {
  #search-body #s-btn-body:hover {
    border-color: #47b98f;
    background-color: #47b98f; } }



